body{
    background-image: url(../IMG/back.jpg);
    background-color: #0c739f;
    background-repeat: repeat-x; 
    background-attachment: fixed;
}
.main{
    width: 1100px;
    height: 294px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 15px 0px;
    font-size: 15px;
    font-family: tahoma;
    background-attachment: fixed;
    
}
.asia{
    width: 230px;
    height: 112px;
    margin-left: 15px;
    float: left;
}
.top-right{
    height: 112px;
    width: 400px;
    float: right;
}
.cont{
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    font-family: tahoma;
    font-size: 12px;
    margin-bottom: 10px;
    color: #6eacc0;
}
.cont a{
    text-decoration: none;
    color: #6eacc0;
}
.menu-top{
    clear: both;
}
.menu-top li{
    float: left;
    margin-right: 15px;
    margin-left: 10px;
}
.menu-top li a{
    display: block;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    height: 15px;
    font-family: tahoma;
    font-size: 11px;
    padding-top: 32px;
    color: #71aec1;
}
.menu-top .india a{
    background-image: url(../IMG/india.jpg);
}
.menu-top .nepal a{
    background-image: url(../IMG/nepal.jpg);
}
.menu-top .tibet a{
    background-image: url(../IMG/tibet.jpg);
}
.menu-top .butan a{
    background-image: url(../IMG/butan.jpg);
}
.menu-top .shrilanka a{
    background-image: url(../IMG/shrilanka.jpg);
}
.menu-top .maldiv a{
    background-image: url(../IMG/maldiv.jpg);
}
.sea{
    display: block;
    width: 1100px;
    height: 180px;
    clear: both;
    border-bottom: 1px solid #128aa7;
    border-top: 1px solid #128aa7;
}
ul.menu{
    display: block;
    margin: 0;
    padding: 0;
}
ul:after{
    display: block;
    content: '';
    clear: both;
    float: none;
}
ul.menu li{
    float: left;
    position: relative;
    box-shadow: 0px 0px 10px #303030
}
ul.menu li a{
    display: block;
    background-color: #303030;
    color: white;
    line-height: 30px;
    padding-left: 5px;;
    text-decoration: none;
    width: 150px;
}
ul.menu li a.onas{
    text-align: center;
}
ul.menu li a.kont{
   padding-right: 10px;
   padding-left: 5px;    
}
ul.menu li a.glav{
    text-align: center;
}
.menu li a.uslugi{
    padding-left: 10px;
}
ul.menu li a:hover{
    background-color: #303030;
}
ul.submenu{
    position: absolute;
    width: 155px;
    display: none;
    box-shadow: 0 0 15px;
}
ul.submenu li{
    display: block;
}
ul.submenu li a{
    display: block;
    color: white;
    background-color: #303030;
    text-decoration: none;
}
ul.menu li:hover ul.submenu{
    display: block;
}
.content{
    width: 1098px;
    background: url(../IMG/fon.jpg) repeat-y;
    float: left;
    box-shadow: 
        0 0 15px 0px ,
        0 3px 0 0;
    
}
.left-c{
    width: 200px;
    float: left;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}
.center-c{
    width: 648px;
    height: 1px;
    float: left;
    text-align: center;
}
.right-c{
    width: 233px;
    float:left;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}
.nov{
    font-weight: bold;
    padding-bottom: 5px;
}
.info{
    font-weight: bold;
    padding-bottom: 5px;
}
.footer{
    padding-top: 6px;
    clear: both;
}
.copy{
    text-align: center;
    color: white;
    font-size: 11px;
    font-family: tahoma;
}
.copy a{
    text-decoration: none;
    color: white;
}