body{
  margin: 0;
  background-color: gainsboro;
    }
.main{
  height: 625px;
  width: 500px;    
  background-color: white;
  margin-top: 5px;
  margin-left: 32%
    }
.personal{
  padding-top: 3%;
  padding-left: 20%;
         }
img{
  padding-left: 20%;
   }
.info{
  padding-left: 15%;
     }
.info-t{
  padding-left: 15%;
  line-height: 0.5;
  margin-bottom: 30px;
        }
hr{
  width: 80%; 
  }
ul{
  padding-left: 5%;
  }
a{
  color: blue;
 }